<div class="row">
  <div class="col-xs-8 col-md-3 col-xs-offset-1">
    <form (ngSubmit)="onSubmit(frm)" #frm="ngForm">
      <div id="user-data" >
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" id="name" ngModel name="name" class="form-control"> 
        </div>
        <div class="form-group"> 
            <label for="email">Email</label>
            <input type="text" id="email" ngModel name="email" class="form-control"> <br>
            <label for="password">Password</label>
            <input type="password" id="password" ngModel name="password" class="form-control">  
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select name="role" id="role" ngModel name="role" class="form-control">
              <option id="trainee">Trainee</option>
              <option id="faculty">Faculty</option>
              <option id="administrator">Administrator</option>
              <option id="user">User</option>
            </select>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Register</button>
      |
      <button class="btn btn-primary" type="button" [routerLink]="['/login']">Login</button>
    </form>
  </div>
</div>