
.sidenav {
    height: 80%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0.5;
    left: 0;
    background-color: #dedee7ee;
    overflow-x: hidden;
    padding-top: 15px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #080808;
    display: block;
  }
  
  .sidenav a:hover {
    color: #5f6665;
  }
  
  .main {
    margin-left: 190px; 
    font-size: 16px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  